node_modules/
.bin/
playwright/
playwright-core/
playwright-core-linux-arm64/
playwright-core-linux-x64/
playwright-core-win32-x64/
package-lock.json
*.png
*.jpg
.DS_Store
.env
.env.local
**/.env
miniapp/
pages/
project.config.json
project.private.config.json
